{% extends 'base.html' %}

{% block title %}Профиль | Изменение данных{% endblock %}

{% block content %}
<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'main:index' %}">Главная</a></li>
			<li class="breadcrumb-item"><a href="{% url 'user:profile' %}">Профиль</a></li>
			<li class="breadcrumb-item active" aria-current="page">Изменение данных</li>
		</ol>
	</nav>
	<h1 class="h1">Изменение данных пользователя</h1>
	<hr>

	<form class="row g-3" method="post" novalidate>
		{% csrf_token %}
		{% for field in form %}
		<div class="col-md-6 col-sm-12">
			<label class="form-label">{{ field.label }}</label>
			{{ field }}
			<div style="color: red;margin: 8px 0 0 0;">
				{% for error in field.errors %}
				<p style="margin: 0;">{{ error }}</p>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		<div class="row justify-content-center" style="margin: 10px 0 0 0;">
			<button class="btn btn-primary" style="max-width: 200px;" type="submit">Сохранить</button>
		</div>
	</form>
	<hr>
</div>
{% endblock %}